@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');



:root {
	--yellow:#ebc972;
	--blue: #2a4057;
	--white-bone: #ebe4d2;
	--olive-green: #4f6556;
	--calltoaction: #c55939;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
  --title: 6rem;

}

body {
  background-color: var(--white-bone);
  font-family: 'Poppins', sans-serif; 
}
h1, h2,h3 {
  color:  var(--olive-green);
  text-align: center;
}
.container {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: auto;
  position: relative;

}
.container-section {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
 
}
.card-entrada {
  
}
.flex-column {
  display: grid; 
  grid-auto-flow: column;
}
.container-cards {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  grid-gap: 1rem;
  max-width: 100%;
}

.card {
  display: grid;
  place-items: center;
  
}
img {
  max-width: 100%;
}

.card-product {
  border-radius: 50%;
  height: 200px;
}
.container-modal {
  position: absolute;
  display: none;
}
 
.modal {
  /*background-image: url("../image/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 60vw;
  height: 80vh;
  display: grid;
  place-items: center;
  text-align: left;
  font-size: 1.4rem;
  
     
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ecded4;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 2px 8px 4px -1px rgba(216, 153, 106, 0.82);
  background-color:#e07d4f;
  border: none;
  
}
btn:hover {
  box-shadow: 0 0 #fff;
  transform: translateY(1px);
}

.tarjeta {
  display: none; 
}

  